:root{
    --white-color:  #FFFFFF;
    --dark-blue-color:  #434455;
    --blue-color:  #4d5ae5;
    --second-dark-blue-color: #2e2f42;
    --second-white-color: #F4F4FD;
    --second-blue-color: #404BBF;
    --trhird-white-color: #e7e9fc;
    --green-color: #31d0aa;
    --gray-color:  #8e8f99;
} 

body{
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
}

.menu{
    display: flex; 
    gap: 40px;
    color: var(--second-blue-color);
}


@media screen and (max-width: 767.8px){
    .menu{
        display: none;
    }
    .adress-list{
        display: none;
    }
}



.choose-link::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--second-blue-color);
    border-radius: 2px;
}

img{
    display: block
}

.header{
    border-bottom: 1px solid var(--trhird-white-color);
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-list{
    display: flex;
    align-items: center; 
    display: flex; 
    gap: 40px;
}

.container{
    min-width: 329px;
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;

    outline: 2px solid orangered;
    outline-offset: -2px;
     
}

/*Tablet screen 768px*/

@media screen and (min-width: 767.8px){
    .container{
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;

    }
}

/*Desctop screen 1440px*/
@media only screen and (min-width: 767.8px){
    .container{
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;

    }
}

.section{
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 767.8px){
    .section{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 1440px){
    .section{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


.footer-container{
    /*display: flex;*/
    align-items: baseline;
    margin-left: 156px;
}

.footer-second-container{
    margin-right: 158px;
    flex-direction: column;

}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0;
}

.link{
    text-decoration:none;
    display: inline-block; 
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link{
    margin-bottom: 16px;
}

/*.index-li*/

.index-li{
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.address{
    font-style: normal;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin-top: 24px;
}

.adress-list{
    display: flex;
    gap: 40px;
}

.link:hover, .link:focus{
    color: var(--second-blue-color);
}

.span_{
    color: var(--second-dark-blue-color);
}

.span{
    color: var(--second-white-color);
}

.list{
    list-style: none;
}


.list__{
    column-gap: 24px; 
    flex-wrap: wrap;
    row-gap: 48px;

}

/*
.second-section-list{
     gap: 24px;
}
*/
@media only screen and (max-width: 767.8px){
    .second-section-list:not(:last-child){
        margin-bottom: 72px;
        margin-left: 16px;
        margin-right: 16px;
    }
    
}



.list_{
    background-color: var(--white-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

h1, h2, h3{ 
    font-family: 'Roboto';
}

.link-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--second-dark-blue-color);
    padding: 24px 0;
    position: relative; 
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-text::after{
    content: '';
    position: absolute; 
    left: 0;
    bottom: -1px;
    height: 4px; 
    background-color: var(--second-blue-color);
    border-radius: 2px; 


}

.adress{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
    font-style: normal;
}

.adress-mail{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-banner{
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.second-section{
    padding: 120px 0;
    position: relative;
}

@media only screen and (max-width: 767.8px){
    .second-section{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
}

.portfolio-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.first-portfolio-section{
    padding-top: 96px; padding-bottom: 120px;
}

.main-banner-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--white-color);
    max-width: 496px;
    margin: 0 auto;
}

.main-banner-button{
    background-color: var(--blue-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    align-items: center;
    max-width: 496px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;

}

.main-banner-button:hover, .main-banner-button:focus{
    background-color: var( --second-blue-color);
}

.list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-dark-blue-color);
    margin-bottom: 8px;
}

.list-main-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}

.third-section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-dark-blue-color);
    margin-bottom: 72px;
}

.thrird-section-list{
    gap: 24px;

}

.thrird-section-li{
    width: calc((100% - 48px) / 3);
}

.fourth-section{
    background-color: var(--second-white-color);
}

@media screen and (max-width: 767.8px){
    .fourth-section-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 72px
       
    }
}

.list1{
    background-color: var(--white-color);
}

.fourth-section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-dark-blue-color);
    background-color: var(--second-white-color);
    margin-bottom: 72px;
}

.fourth-section-list{
    display: flex;
    gap: 24px; 

}

.fourth-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-dark-blue-color);
    text-align: center;
    margin-bottom: 8px;

}

.fourth-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
    text-align: center;
}

.fourth-section-div{
    padding: 32px 0px;

}

/*.fourth-section-contact-list{
    display: flex;
    justify-content: center; 
    gap: 56px;
    padding: 0;
    margin-top: 21px;
}*/

.fourth-section-contact-li{
    width: 40px;
    height: 40px;
}

.href-link{
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.href-link:hover, .href-link:focus{
    background-color: var(--second-blue-color)
}

.footer-paragraph{
    line-height: 1.5;
    color: var(--second-white-color);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    background-color:var(--second-white-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button_{
    padding: 12px 24px;
    border: 1px solid var( --trhird-white-color);
    border-radius: 4px;
}

.button_:hover, .button_:focus{
    border: 1px solid transparent;


}

.button:hover, .button:focus{
    color: var(--white-color);
    background-color: var( --second-blue-color);
}

.list-photo-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-dark-blue-color);
    margin-bottom: 8px;
}

.list-photo-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);

}

.footer{
    background-color: var(--second-dark-blue-color);
    padding: 100px 0;


}


address{
    margin-left: auto;
}


.thrird-section{
    padding-bottom: 120px;
}

@media screen and (max-width: 1158px){
    .thrird-section{
        display: none;
    }
}

.fourth-section{
    padding: 120px 0;

}

.portfolio-header{
    border-bottom: 1px solid var(--trhird-white-color);
}

.portfolio-container-div{
    display: flex;
}

.portfolio-container{
    align-items: center;
    padding: 32px 16px;
    border: 1px solid var(--trhird-white-color);
    border-top: none;

}

.portfolio-nav{
    display: flex;
    align-items: center; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.fifth-section-title{
    font-size: 36px;
    line-height: 1.11;
    color: var(--second-dark-blue-color);
    margin-bottom: 72px;
    margin-top: 0;
    text-align: center;
}

.fifth-section-list{
    display: flex;
    gap: 24px; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

.fifth-section-li{
    width: calc((100% - 120px) / 6);
    height: 88px;

}

.fifth-section-link{
    display: flex;
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center; 
    color: var(--gray-color);
}

@media screen and (min-width: 768px){
    .fifth-section-link{
        flex-basis: calc((100% - 48px) / 3);
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px){
    .fifth-section-link{
        width: 168px;
    }
}

.fifth-section-svg{
    fill: currentColor; 
}

.fifth-section-svg:hover, .fifth-section-svg:focus{
    fill: var(--second-blue-color);
}

.fifth-section-link:hover, .fifth-section-link:focus{
    border-color: var(--second-blue-color);
    color: var(--second-blue-color);
    fill: var(--second-blue-color);
}


.container-img{
    background-color: var(--second-white-color);
    padding-top: 24px;
    padding-left: 102px;
    padding-right: 102px;
}

.footer-second-text{
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-link-list{
    display: flex;
    gap: 16px;
}

.link-list{
    width: 40px;
    height: 40px;
}

.link-list-link{
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list-link:focus, .link-list-link:hover{
    background-color: var(--green-color);
}

.link-img{
    fill: var(--second-white-color);
}

.index-li-div{
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 112px;
    background-color: var(--second-white-color);
    border-radius: 4px;
    margin-bottom: 8px;
    max-width: 428px;

}

@media screen and (min-width: 1158px){
    .index-li-div{
        display: none;
    }
}

.modal-data{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-adress-link{
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.fifth-section{
    padding-top: 120px; 
    padding-bottom: 120px; 

}

@media screen and (max-width: 758px){
   .fifth-section-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
   }


    
}

.is-hidden{
    opacity: 0;
    visibility: hidden; 
    pointer-events: none;

}
.modal-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;

}

.modal-text{
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5; 
    text-align: center; 
    letter-spacing: 0.02em;
    color: var(--second-dark-blue-color);
    margin-bottom: 16px;
}

.data-button{
    position: absolute; 
    top: 24px;
    right: 24px; 
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--trhird-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    color: var(--second-dark-blue-color);

}

.data-button:hover, .data-button:focus{
    background-color: var(--second-blue-color);
    border: none;  
    color: var(--white-color);
} 

.data-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
    
}

.overlay{
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    color: var(--second-white-color);
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.first-li{
    width: calc((100% - 48px) / 3); 
    position: relative;
    overflow: hidden;
}

.first-li:hover .overlay{
    transform: translateY(0);
}

.footer-form{
    border-radius: 4px;

}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--white-color);
    border-radius: 4px;
}


.modal-label{
    flex-direction: column;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--gray-color);
    display: block;
    margin-bottom: 4px; 
}

.modal-button{
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--blue-color);
    border: none; 
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.footer-form-p{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.footer-form{
    display: flex;
    gap: 24px;
}

.footer-form-input{
    width: 264px;
    height: 40px; 
    border: 1px solid var(--white-color);
    background-color: transparent; 
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    padding-left: 16px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px;
    color: var(--white-color);
    
}

@media screen and (min-width: 768px){
    .footer-form-div{
        margin-top: 72px;
        margin-left: 108px;
        gap: 16px;
        justify-content: center;
        align-items: center;

    }
}

.footer-form-button{
    min-width: 165px; 
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--blue-color);
    border: none; 
    border-radius: 4px;

}

.button-svg{
    margin-left: 16px;
}

.modal-form-div{
    margin-bottom: 8px;

}

.modal-form-divv{
    margin-bottom: 16px;
}

.modal-form-div-input{
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding-left: 38px; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-form-div-input:focus-within .modal-svg {
    fill: var(--blue-color);
}


.modal-input:focus{
    border-color: var(--blue-color);
}


.modal-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-textarea:focus{
    border-color: var(--blue-color);
}

.modal-form-div-div{
    margin-bottom: 24px; 
}

.modal-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: var(--gray-color);

}

.modal-checkbox-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    fill: transparent; 
    margin-right: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox-link{
    color: var(--blue-color);
}

.modal-form-input:checked +.modal-checkbox-label .modal-checkbox-span{
    background-color:var(--second-blue-color);
    border: none;
    fill: var(--second-white-color);

}

@media screen and (max-width: 428px){
    .second-section-list{
        gap: 72px;
    }

    .second-section-list{
        flex-basis: calc((100% - 10px) / 2);
    }

    .third-section-li{
        flex-basis: calc((100% - 10px) / 2);
        margin-left: auto;
        margin-right: auto;
    }
}



.menu-toggle {
    min-height: 32px;
    min-width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .menu-toggle-icon{
    stroke: var(--second-dark-blue-color);
}
  
  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 32px;
    right: 32px;
    color: var(--trhird-white-color);
  }
  

 .mobile_menu-list{
    display: flex;
    gap: 64px;

 }

 .mobile_menu-link{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.72px;
 }

 .modal-menu-adress{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.72px;
    color: var(--blue-color);
 }

 .modal-menu-adress-link{
    color: var(--dark-blue-color);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 24px;
 }

 .mobile-menu{
    padding-top: 80px;
    padding-left: 40px;
    margin-bottom: auto;
 }

 .mobile-adress{
    margin-left: 40px;

 }

 .mobile_menu-item:not(:last-child){
    margin-bottom: 40px;

 }